.wrapper {
    display: flex;
    flex-direction: column;
    padding: .8rem 1.2rem 1.2rem;
}

.header {
    display: flex;
    align-items: center;
    padding-block-end: 0.2rem;
}

.title {
    font-weight: 500;
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 1rem 2rem 2rem;
    }

    .header {
        padding-block-end: 0.4rem;
    }

    .title {
        font-size: 1.6rem;
    }
}