.wrapper {
    display: flex;
    flex-direction: column;
    padding: .8rem 1.2rem 1.2rem;
    background-color: var(--white-100);
    box-shadow: var(--basic-shadow);
}

.header {
    display: flex;
    align-items: center;
    padding-block-end: 0.2rem;
}

.title {
    font-weight: 500;
}

.content {
    padding-block-start: 1.2rem;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.5;
    font-size: 1.4rem;
}

.details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}

.date {
    font-size: 1.3rem;
    color: var(--secondary-400);
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 1rem 2rem 2rem;
    }

    .header {
        padding-block-end: 0.4rem;
    }

    .title {
        font-size: 1.6rem;
    }

    .content {
        padding-block-start: 1.6rem;
        font-size: 1.5rem;
    }

    .author {
        font-size: 1.5rem;
    }

    .details {
        gap: 2rem;
    }

    .date {
        font-size: 1.4rem;
    }
}