.wrapper {
    display: flex;
    flex-direction: column;
    padding: .8rem 1.2rem 1.2rem;
    background-color: var(--white-100);
    box-shadow: var(--basic-shadow);
}

.wrapper input,
.wrapper textarea {
    background-color: var(--white-50);
    padding: 0.4rem;
    box-shadow: 0 0 0 0.1rem var(--shadow-color);
}

.details {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-end: 0.4rem;
}

.author {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}

.date {
    font-size: 1.3rem;
    color: var(--secondary-400);
}

.controls {
    display: flex;
    margin-block-start: 1rem;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 1rem 2rem 2rem;
    }

    .author {
        font-size: 1.5rem;
    }

    .details {
        gap: 2rem;
    }

    .date {
        font-size: 1.4rem;
    }
}