.content {
    padding-block-start: 0.4rem;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.5;
    font-size: 1.4rem;
}

@media (min-width: 1024px) {
    .content {
        font-size: 1.5rem;
    }
}