.content {
    padding-block-start: 1.2rem;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.5;
    font-size: 1.4rem;
}

.smallPadding {
    padding-block-start: 0.4rem;
}

@media (min-width: 1024px) {
    .content {
        padding-block-start: 1.6rem;
        font-size: 1.5rem;
    }

    .smallPadding {
        padding-block-start: 0.6rem;
    }
}