.label {
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    gap: 0.4rem;
}

.required {
    margin-inline-start: 0.2rem;
    font-weight: 100;
    color: var(--primary-500);
}

.errorText {
    font-size: 1.3rem;
    color: var(--error-600);
}

.resizeNone {
    resize: none;
}

.resizeX {
    resize: horizontal;
}

.resizeY {
    resize: vertical;
}