button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--black-100);
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed !important;
}

button:not(.ghost,.icon) {
    padding: 1rem 1.4rem;
}

button.icon {
    padding: 1rem;
}

button:not(.ghost,:disabled,.filled):hover {
    background-color: var(--transparent-black-4);
}

button:not(.ghost,:disabled,.filled):active {
    background-color: var(--transparent-black-7);
}

button:not(.ghost,.icon).large {
    padding: 1.4rem 2rem;
}

button.icon.large {
    padding: 1.4rem;
}

button.ghost {
    color: inherit;
    font: inherit;
}

button.filled {
    background-color: var(--white-400);
    color: var(--black-100);
}

button.filled:not(:disabled):hover {
    background-color: var(--white-500);
}

button.primary.filled:not(:disabled) {
    background-color: var(--primary-600);
    color: var(--white-100);
}

button.primary.filled:not(:disabled):hover {
    background-color: var(--primary-500);
    box-shadow: inset 0 0 0 0.3rem var(--primary-400);
}

button.primary.filled:not(:disabled):active {
    background-color: var(--primary-400);
}

button.primary.filled:disabled {
    background-color: var(--primary-600-disabled);
    color: var(--transparent-white-65);
}

button.primary.filled:focus-visible {
    box-shadow: 0 0 0 2px var(--primary-500);
}

button.secondary.filled:not(:disabled) {
    background-color: var(--secondary-600);
    color: var(--white-100);
}

button.secondary.filled:not(:disabled):hover {
    background-color: var(--secondary-500);
    box-shadow: inset 0 0 0 0.3rem var(--secondary-400);
}

button.secondary.filled:not(:disabled):active {
    background-color: var(--secondary-400);
}

button.secondary.filled:disabled {
    background-color: var(--secondary-600-disabled);
    color: var(--transparent-white-65);
}

button.primary {
    color: var(--primary-500);
}

button.primary.ghost:hover {
    color: var(--primary-300);
}

button.primary:not(.ghost,:disabled,.filled):hover {
    background-color: var(--transparent-primary-7);
}

button.primary:not(.ghost,:disabled,.filled):active {
    background-color: var(--transparent-primary-15);
}

button.secondary {
    color: var(--secondary-500);
}

button.secondary.ghost:hover {
    color: var(--secondary-300);
}

button.error {
    color: var(--error-500);
}

button.error.ghost:hover {
    color: var(--error-300);
}

@media (max-width: 1023px) {
    button.xs-icon {
        padding: 1rem;
    }
}

@media (max-width: 1023px) {
    button.xs-round {
        border-radius: 50%;
    }
}

@media (min-width: 1024px) {
    button {
        gap: 1rem;
        font-size: 1.4rem;
    }

    button:not(.ghost,.icon) {
        padding: 1rem 2rem;
    }
    button.icon {
        padding: 1rem;
    }

    button:not(.ghost,.icon).large {
        padding: 1.5rem 3rem;
    }
    button.icon.large {
        padding: 1.5rem;
    }
}