h1 {

}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {

}

h5 {

}

h6 {

}

a:link {
    color: var(--primary-700);
    text-decoration: none;
}

a:visited {
    color: var(--primary-500);
}

a:hover {
    color: var(--primary-500);
    text-decoration: underline;
}

strong {
    font-weight: 600;
}

em {
    font-style: normal;
    font-weight: 500;
}

svg.MuiSvgIcon-root {
    font-size: 1.6rem;
}