.details {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-block-end: 0.4rem;
    font-size: 1.4rem;
    color: var(--secondary-100);
}

.author {
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (min-width: 1024px) {
    .details {
        gap: 1.2rem;
    }
}