.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    width: 100%;
    height: var(--nav-height-xs);
    padding-inline: var(--nav-px-xs);
    background-color: var(--secondary-900);
    color: var(--white-100);
}

.nav {
    display: flex;
    align-items: stretch;
    padding-inline: 2.4rem;
    margin-inline: -1rem;
    font-weight: 300;
}

.nav > a {
    display: inline-flex;
    align-items: center;
    padding-inline: 1rem;
    color: inherit;
}

.nav > a:hover {
    background-color: var(--secondary-700);
    color: var(--white-50);
    font-weight: 300;
    text-decoration: underline var(--secondary-400);
}

@media (min-width: 1024px) {
    .header {
        height: var(--nav-height-md);
        padding-inline: 3.2rem;
    }

    .nav {
        padding-inline: var(--nav-px-md);
        margin-inline: -1.2rem;
    }

    .nav > a {
        padding-inline: 1.2rem;
    }
}