.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1rem 1rem;
    gap: 0.6rem;
    margin-inline-start: var(--comment-indent-xs);
}

.reply {
    margin-inline-start: calc(2 * var(--comment-indent-xs));
}

.title {
    font-size: 1.5rem;
}

.footer {
    display: flex;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 1rem 1.2rem;
        gap: 1rem;
        margin-inline-start: var(--comment-indent-md);
    }

    .reply {
        margin-inline-start: calc(2 * var(--comment-indent-md));
    }
}